<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	
	
	<key>tweets_getMyTweets_url</key>
	<string>http://twitter.com/statuses/user_timeline/metapgmr.xml</string>
	
	
	
	<key>flickr_getPhotos_url</key>
	<string>http://api.flickr.com/services/rest/?method=flickr.galleries.getPhotos&amp;api_key=b7639894a0158bb65256cdc41357946d&amp;format=rest&amp;gallery_id=74655121-72157628935723153</string>
	
	<key>flickr_getSizes_url</key>
	<string>http://api.flickr.com/services/rest/?method=flickr.photos.getSizes&amp;api_key=b7639894a0158bb65256cdc41357946d&amp;format=rest</string>
	
	
	
	<key>flickr2_getPicture_url</key>
	<string>http://farm${farm}.staticflickr.com/${server}/${id}_${secret}.jpg</string>
	
	
	
	
	
	
	
	<key>canappiTutorials_getmyTubes_url</key>
	<string>https://gdata.youtube.com/feeds/api/users/canappi/uploads</string>
	
	
</dict>
</plist>
